/* Penyesuaian Tambahan untuk Layout */
body {
  font-family: 14,'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.card {
  margin-bottom: 15px;
}

h2 {
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 2rem; /* Ukuran heading lebih besar untuk TV */
  }
  
  .container {
    padding: 20px; /* Memberi ruang ekstra */
  }
}

/* Membuat card sholat menjadi horizontal */
#prayer-times {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Memastikan card akan wrap jika ukuran layar lebih kecil */
}

#prayer-times .card {
  width: 18rem;  /* Menentukan lebar card */
  margin: 10px;  /* Menambahkan jarak antar card */
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#prayer-times .card .card-body {
  padding: 15px;
  text-align: center;
}

#prayer-times .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

#prayer-times .card-text {
  font-size: 1.1rem;
}
